@import "tailwindcss";
:root {
  --primary-color: #007bff;
  --secondary-color: #303030;
  --text-color: #ffffff;
  --bg-color: #212121;
  --bg-sidebar: #le2939;
}
body {
  color: white !important;
  background-color: #1E293A;
  font-family: "vazir";
}
@font-face {
  font-family: "vazir";
  src: url("../public/fonts/Vazirmatn-VariableFont_wght.ttf");
}
.sidebar::-webkit-scrollbar {
  width: 4px;
}
.sidebar::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #007bff;
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #007bdd;
}
.hljs{
  background-color: transparent !important;
  color: white !important;
}
@media (min-width: 640px) and (max-width: 768px) {
  .mdBetweenLg{
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1196px) {
  .mdBetweenLg{
    max-width: 70% !important;
  }
}
@media (min-width: 1196px) and (max-width: 1280px) {
  .mdBetweenLg{
    max-width: 70% !important;
  }
}
@media (min-width: 1280px) and (max-width: 1286px) {
  .mdBetweenLg{
    max-width: 82.5% !important;
  }
}
.direction{
  direction: ltr;
}