@import "tailwindcss";
:root {
    --primary-color: #007bff;
    --secondary-color: #303030
    --text-color: #212529;
    --bg-color: #212121;
  }
  body {
    color: var(--text-color);
    background-color: var(--primary-color);
  }